FeedbackApp.Client/obj/FeedbackApp.Client.csproj.nuget.dgspec.json
FeedbackApp.Client/obj/FeedbackApp.Client.csproj.nuget.g.props
FeedbackApp.Client/obj/FeedbackApp.Client.csproj.nuget.g.targets
FeedbackApp.Client/obj/project.assets.json
FeedbackApp.Client/obj/project.nuget.cache
FeedbackApp.Client/obj/staticwebassets.pack.sentinel
FeedbackApp.Client/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
FeedbackApp.Client/obj/Debug/net6.0/apphost.exe
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.AssemblyInfo.cs
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.AssemblyInfoInputs.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.assets.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.csproj.AssemblyReference.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.csproj.BuildWithSkipAnalyzers
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.csproj.CopyComplete
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.csproj.CoreCompileInputs.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.csproj.FileListAbsolute.txt
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.dll
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.GeneratedMSBuildEditorConfig.editorconfig
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.genruntimeconfig.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.GlobalUsings.g.cs
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.MvcApplicationPartsAssemblyInfo.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.MvcApplicationPartsAssemblyInfo.cs
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.pdb
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.RazorAssemblyInfo.cache
FeedbackApp.Client/obj/Debug/net6.0/FeedbackApp.Client.RazorAssemblyInfo.cs
FeedbackApp.Client/obj/Debug/net6.0/project.razor.vs.json
FeedbackApp.Client/obj/Debug/net6.0/staticwebassets.build.json
FeedbackApp.Client/obj/Debug/net6.0/staticwebassets.development.json
FeedbackApp.Client/obj/Debug/net6.0/ref/FeedbackApp.Client.dll
FeedbackApp.Client/obj/Debug/net6.0/refint/FeedbackApp.Client.dll
FeedbackApp.Client/obj/Debug/net6.0/scopedcss/bundle/FeedbackApp.Client.styles.css
FeedbackApp.Client/obj/Debug/net6.0/scopedcss/projectbundle/FeedbackApp.Client.bundle.scp.css
FeedbackApp.Client/obj/Debug/net6.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
FeedbackApp.Client/obj/Debug/net6.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
FeedbackApp.Client/bin/Debug/net6.0/appsettings.Development.json
FeedbackApp.Client/bin/Debug/net6.0/appsettings.json
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.deps.json
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.dll
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.exe
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.pdb
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.runtimeconfig.json
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Client.staticwebassets.runtime.json
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Components.dll
FeedbackApp.Client/bin/Debug/net6.0/FeedbackApp.Components.pdb
FeedbackApp.Client/bin/Debug/net6.0/Humanizer.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Embedded.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Identity.Client.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
FeedbackApp.Client/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Drawing.Common.dll
FeedbackApp.Client/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Runtime.Caching.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Security.Permissions.dll
FeedbackApp.Client/bin/Debug/net6.0/System.Windows.Extensions.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
FeedbackApp.Client/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
FeedbackApp.Components/obj/FeedbackApp.Components.csproj.nuget.dgspec.json
FeedbackApp.Components/obj/FeedbackApp.Components.csproj.nuget.g.props
FeedbackApp.Components/obj/FeedbackApp.Components.csproj.nuget.g.targets
FeedbackApp.Components/obj/project.assets.json
FeedbackApp.Components/obj/project.nuget.cache
FeedbackApp.Components/obj/staticwebassets.pack.sentinel
FeedbackApp.Components/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.AssemblyInfo.cs
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.AssemblyInfoInputs.cache
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.assets.cache
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.csproj.AssemblyReference.cache
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.csproj.BuildWithSkipAnalyzers
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.csproj.CoreCompileInputs.cache
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.csproj.FileListAbsolute.txt
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.dll
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.GeneratedMSBuildEditorConfig.editorconfig
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.GlobalUsings.g.cs
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.pdb
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.RazorAssemblyInfo.cache
FeedbackApp.Components/obj/Debug/net6.0/FeedbackApp.Components.RazorAssemblyInfo.cs
FeedbackApp.Components/obj/Debug/net6.0/project.razor.vs.json
FeedbackApp.Components/obj/Debug/net6.0/staticwebassets.build.json
FeedbackApp.Components/obj/Debug/net6.0/ref/FeedbackApp.Components.dll
FeedbackApp.Components/obj/Debug/net6.0/refint/FeedbackApp.Components.dll
FeedbackApp.Components/bin/Debug/net6.0/FeedbackApp.Components.deps.json
FeedbackApp.Components/bin/Debug/net6.0/FeedbackApp.Components.dll
FeedbackApp.Components/bin/Debug/net6.0/FeedbackApp.Components.pdb
.vs/FeedbackApp/config/applicationhost.config
.vs/FeedbackApp/DesignTimeBuild/.dtbcache.v2
.vs/FeedbackApp/FileContentIndex/48b7f161-f9c8-44c7-8921-f3b4878319e1.vsidx
.vs/FeedbackApp/FileContentIndex/b0909aef-1263-4f38-9e47-c9faa0148e31.vsidx
.vs/FeedbackApp/FileContentIndex/baf005f1-e326-4e31-b131-8987dcf706dc.vsidx
.vs/FeedbackApp/FileContentIndex/fd49f48f-4df1-4679-9113-878ab1bfdb49.vsidx
.vs/FeedbackApp/FileContentIndex/read.lock
.vs/FeedbackApp/v17/.futdcache.v1
.vs/FeedbackApp/v17/.suo
.vs/ProjectEvaluation/feedbackapp.metadata.v2
.vs/ProjectEvaluation/feedbackapp.projects.v2
/.vs/FeedbackApp/FileContentIndex
/FeedbackApp.Client/bin/Debug/net6.0
/FeedbackApp.Components/bin/Debug/net6.0
/FeedbackApp.Components/obj/Debug/net6.0
/FeedbackApp.Shared/obj/Debug/net6.0
