@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options

@using static FeedbackApp.Shared.Models.FeedbackModel
@inject IFeedbackService _feedbackService


<h3>Rate your experience of completing the NCC</h3>
<EditForm Model="feedbackModel">
    <InputRadioGroup @bind-Value="feedbackModel.feedBackEmoji.EmojiOptions" >
        @foreach (Enum value in Enum.GetValues(typeof(FeedbackEmoji.FeedbackEmojiEnum)))
        {
            <label style="margin-right:20px;">
                <InputRadio class="selector" Value=@value id=@value/>
                <label for="@value" class="@value options" />
                <br/>
                <span class="ml-2 mr-2 option-name">@value.GetDisplayName()</span>
            </label>

        }
    </InputRadioGroup>
    <div>
        <textarea id="txtid" name="txtname" rows="4" cols="50" maxlength="200" @bind=feedbackModel.Feedback >
        </textarea>
    </div>
    <div>
        <button type="submit" class="btn mt-3 main-bg-color" @onclick="OnSubmit">Send Feedback</button>
    </div>
</EditForm>

@code {

    private FeedbackModel feedbackModel = new FeedbackModel();

    private void OnSubmit()
    {        
        System.Diagnostics.Debug.Print($"Model EmojiOptions: {feedbackModel.feedBackEmoji.EmojiOptions.ToString()}");
        System.Diagnostics.Debug.Print($"Model EmojiOptions: {feedbackModel.Feedback }");
        FeedbackData feedbackData = new FeedbackData();
        feedbackData.FeedbackId = feedbackModel.FeedbackId;
        feedbackData.Feedback = feedbackModel.Feedback;
        _feedbackService.SubmitFeedbackSync(feedbackData);
    }
}
