@using Microsoft.AspNetCore.Components
@using FeedbackApp.Shared.Models
@*<h3>FeedbackComponent </h3>

<h3> Star </h3>

<h3> Comment </h3>*@

<h3>Rate your experience of completing the NCC</h3>
<EditForm Model="_emoji">
    <InputRadioGroup @bind-Value="_emoji.EmojiOptions" >
        @foreach (Enum value in Enum.GetValues(typeof(FeedbackEmoji.FeedbackEmojiEnum)))
        {
            <label style="margin-right:20px;">
                <InputRadio class="selector" Value=@value id=@value/>
                <label for="@value" class="@value options" />
                <br/>
                <span class="ml-2 mr-2 option-name">@value.GetDisplayName()</span>
            </label>

        }
    </InputRadioGroup>
    <div>
        <textarea id="txtid" name="txtname" rows="4" cols="50" maxlength="200">
        </textarea>
    </div>
    <div>
        <button type="submit" class="btn mt-3 main-bg-color" @onclick="OnSubmit">Send Feedback</button>
    </div>
</EditForm>

@code {
    private FeedbackEmoji _emoji = new FeedbackEmoji();

    private void OnSubmit()
    {
        FeedbackDTO feedbackDTO = new FeedbackDTO();
        //feedbackDTO.FeedbackId = _emoji.EmojiOptions.ToString().L
        //Console.WriteLine($"Model EmojiOptions: {_emoji.EmojiOptions.ToString()}");
        System.Diagnostics.Debug.Print($"Model EmojiOptions: {_emoji.EmojiOptions.ToString()}");
    }
}
