@page "/feedback"
@using FeedbackApp.Components
@using Microsoft.AspNetCore.Components.Web
@using FeedbackApp.Components.Pages.Shared
@using FeedbackApp.Components.Library.Pages.Shared


<h3>FeedbackComponent</h3>
<FeedbackComponent/>



@code {

}
